// Typography

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.h {
  font-family: $headings-font-family;
  font-weight: bold;
  margin: 0 0 0.5em;
  color: $headings-color;
}

h1, .h1 {
  @include font-size(30);
}

h2, .h2 {
  @include font-size(27);
}

h3, .h3 {
  @include font-size(24);
}

h4, .h4 {
  @include font-size(21);
}

h5, .h5 {
  @include font-size(17);
}

h6, .h6 {
  @include font-size(15);
}

p {
  margin: 0 0 1em;
}

a {
  color: $base-link-color;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}
